*{
    background-color: silver;
}

canvas {
    background-image: url("ciel1.jpeg");
    border:3px solid black;
}

.jeuxdebut{
    position: relative;
    float: right;
    font-size: 26px;
    margin: 148px 400px 0 0;
    color: rgb(29, 23, 23);
    padding: 50px;
    text-align: center;
}

#button{
    position: absolute;
    margin-top: 390px;
    margin-left: 226px;
    float: right;
    padding: 15px 32px;
    background-color: #2cee33; /* vert */
    border: none;
    border-radius: 4px;
}

#button:hover{
    opacity: 0.9;
    cursor: pointer;
}